<section class="todoapp">
	<header class="header">
		<h1><%= @list.name %></h1>
		<!-- <input class="new-todo" placeholder="Add an item..." autofocus=""> -->
		<%= form_for @item, :url => list_items_path(@list) do |f| %>
		<%= f.text_field :description,  :class => 'new-todo', :placeholder => @item.errors[:description][0] || 'Insert new items...' %>
		<%= f.submit :style => "display: none" %>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
      	<%= render :partial=>'items/items_li', :collection => @list.items, :as=>:item %>
    </ul>
	</section>
	<footer class="footer" >
	</footer>
</section>
<script id="item-template" type="text/x-handlebars/template">
	<li class="item" id="item_{{id}}">
    <div class="view">
      <form class="edit_item" id="edit_item_{{id}}" action="/lists/<%= @list.id %>/items/{{id}}" accept-charset="UTF-8" method="post">
				<input name="utf8" type="hidden" value="✓">
				<input type="hidden" name="_method" value="patch">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<input name="item[status]" type="hidden" value="0">
				<input class="toggle" type="checkbox" value="1" name="item[status]" id="item_status">
			</form>
      <label for="">{{description}}</label>
      <form class="button_to" method="post" action="/lists/<%= @list.id %>/items/{{id}}">
				<input type="hidden" name="_method" value="delete">
				<input class="destroy" style="border:none; background-color: white" type="submit" value="x">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			</form>
    </div>
	</li>
</script>
<footer class="info">
	<p>You're logged in as <%= current_user.email %></p>
	<%= link_to "Logout", logout_path %>
</footer>
